@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f5fffb;
}

.green{
  color: #00C788; 
  font-size: 20px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.textButtonDiv{
  @apply ml-auto flex space-x-5
}

.logo {
  width: 50px;
  height: 50px;
} 

.navBarName{
  padding-left: 10px;
}

.max-width {
  @apply max-w-[1440px] mx-auto;
  
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START: Intro styles */
.intro {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.subtitle {
  @apply font-light mt-5;
}

.catalog{
  @apply font-semibold text-[18px];
}

.image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.image {
  @apply relative xl:w-full w-[95%] xl:h-full h-[600px] z-0;
}

.image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}

/*Sign In*/
.logoContainer{
  @apply w-full px-12 bg-[#FFEBA9] rounded-2xl     
}

.logoSignIn{
  @apply pt-10 w-28 h-28 mx-auto;
}

.yellowContainer{
  @apply w-full;
}

.divYellowContainer{
  @apply py-9 px-10;
}

.pinkLine{
  @apply min-w-[135px];
}


  /*Sign Up*/
  .divSignUp{
    @apply flex w-full max-w-4xl;
  }

  .main{
    @apply flex-col;
  }

  .container{
    @apply w-full px-12  bg-[#FFEBA9] rounded-2xl; 
  }

  .form{
    font-size: 19px;
  }



/*User page*/
.textButtonSignOut{
  font-size: 16px;
  width: 150px; /* Ajusta el ancho del botón */
  height: 47px; /* Ajusta la altura del botón */

}

.containerUser {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  height: 100%;
}

.therapistAppointment{
  @apply flex justify-start h-[120px] bg-[#0DF59147] rounded-lg pl-2 mt-[14px]
}

.subtitleHome{
  @apply font-semibold text-[30px]
}


.navbarUser {
  height: 100px;
  width: 100%;
}

.section-1,
.section-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.section-1 {
  /*background-color: #e5a4eb;*/
  background-color: #f5fffb;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #f5fffb;
  padding: 20px;
}

.section-2 {
  grid-column: 2 / 3;
  /*background-color: #8cf32c;*/
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #f5fffb;
  padding: 20px;
  border-radius: 20px;
  margin-right: 5px;

}

.formUser{
  @apply py-[58px] px-[140px] h-[1932px] flex-1
}

.formUserDiv{
  @apply flex flex-wrap rounded-lg
}

.edad{
  @apply pl-5
}

.radio{
  @apply flex items-center /*flex flex-col*/
}

.textInput{
  @apply w-6 h-6 outline-none text-base
}

.inputBox{
  @apply outline-none text-base pl-2 border-gray-300 rounded-lg py-2 px-4
}

.formUserTitle{
  @apply font-bold text-[44px]
}

.formUserForm{
  @apply items-start px-[50px] py-[10px]
}

.formUserSubtitle{
  @apply text-[#5c5a5a] text-[30px] font-semibold
}

.formUserText{
  @apply text-[20px] text-black font-medium mb-2
}

.formUserWarning{
  @apply text-[15px] text-red-500 italic
}


/*Terapeuta*/
.section-3,
.section-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.section-3 {
  /*background-color: #e5a4eb;*/
  background-color: #f5fffb;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #f5fffb;
  padding: 20px;
}

.section-4 {
  grid-column: 2 / 3;
  /*background-color: #8cf32c;*/
  background-color: #FFEBA9CC;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #f5fffb;
  padding: 20px;
  border-radius: 20px;
  margin-right: 5px;

}

.section-5 {
  grid-column: 2 / 3;
  /*background-color: #8cf32c;*/
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #f5fffb;
  padding: 20px;
  border-radius: 20px;
  margin-right: 5px;

}

/*Admin*/
.headerAdmin{
  @apply h-screen w-52 fixed z-10 bg-amber-100 flex flex-col items-center rounded-r-2xl
}

.navAdmin{
@apply h-screen w-full flex flex-col items-center
}

.divAdmin{
  @apply items-center justify-between h-screen px-4 w-full p-5 
}

.divOptionsAdmin{
  @apply text-white hidden sm:flex items-center
}

.ulAdmin{
  @apply hidden sm:flex flex-col gap-8 items-center
}
.links{
  @apply py-4 hover:underline hover:decoration-[#407735fa] hover:text-green-700 text-base
}

          /*Users*/

.tableDiv{
  @apply w-full
}

.table{
  @apply text-center mx-auto w-full
}

.textUser{
  @apply py-1.5 
}

.trTable{
  @apply px-2 py-1
}


.tableDivTera{
  @apply w-full
}

.tableTera{
  @apply text-center mx-auto w-full
}

.textUserTera{
  @apply py-1.5 
}

.trTableTera{
  @apply px-2 py-1
}

          /*alta Terapeuta*/
.divForm{
  @apply flex mb-6
}

.labelForm{
  @apply text-black font-medium form min-w-[190px] pr-10
}

.inputForm{
  @apply bg-white rounded-3xl outline-none text-lg text-center w-64 h-9 ml-2 shadow-md
}

.formTera{
  @apply pl-16 w-full mx-auto text-right
}



            /*ConfigApp*/


.adminDiv{
  margin-left: 20%;
}

  .toggleButton{
    background-color: pink;
    color: white;
  }

  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  /* navbar */
  .navbar {
    background-color: aliceblue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
  }
  
  
  /* logo  */
  .logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  /* ul  */
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  



/* START: Footer styles */
.footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */




/*ADMIN*/

/*NavBar*/
.navBar{
  width: 15%;
  height: auto;
}

.NavAdminDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Añadido para alinear a la izquierda */
}

.text{
  padding: 2%;
}
.tituloAdmin{
  font-size: 30px;
  font-weight: bold;
}


.app{
  background-color: white;
  margin-top: 3%;
  border-radius: 20px;
}

.app{
  @apply shadow-md mx-auto max-w-prose;
}

      /*Home page*/
.contenedor2{
  display: flex;
}

/*Celular*/

@media (max-width: 380px){
  /*Intro*/
    
  .image-container {
    @apply flex justify-end items-end w-full xl:h-screen;
  }
  
  .image {
    @apply relative xl:w-full w-[95%] xl:h-full h-[200px] z-0;
  }
  
  .image-overlay {
    @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[500px] overflow-hidden;
  }

  .catalog{
    @apply font-semibold text-[16px];
  }
    
  .green{
    font-size: 15px; 
  }

  .intro {
    @apply flex xl:flex-row flex-col relative z-0 max-w-[1440px] mx-auto;
  }

  .title {
    @apply 2xl:text-[60px] sm:text-[50px] text-[35px] font-extrabold;
  }


  /*Sign In*/
  .yellowContainer{
    @apply w-80;
  }
  
  .logoContainer{
    @apply w-full px-10  bg-[#FFEBA9] rounded-2xl     
  }

  .logoSignIn{
    @apply pt-10 w-24 h-24 mx-auto;
  }

  .titleSignIn{
    @apply text-[25px];
  }

  .input{
    @apply w-full ;
  }

  .prSignIn{
    @apply text-[10px];
  }

  .divYellowContainer{
    @apply py-9 px-2;
  }

  .pinkLine{
    @apply min-w-[105px];
  }

  .googleLogo{
    @apply w-6 h-6;
  }


  /*Sign Up*/
    .divSignUp{
      @apply block w-full max-w-80;
    }

    .main{
      @apply flex-row;
    }

    .cuidaTuMenteTitle{
      font-size: 28px;
    }

    .cuidaTuMente{
      width: 400px;
      height: 300px;
    }

    .container{
      @apply w-full px-1 bg-[#FFEBA9] rounded-2xl; 
    }

    .form{
      font-size: 15px;
    }
  
    .prSignUp{
      @apply text-[12px];
    }
  
  /*Admin*/
  .navBarApp{
    flex: 1;
    min-width: 300px;
  }

        /*Home page*/
  .contenedor2{
    flex-wrap: wrap;
  }

}


@media (min-width: 380px) and (max-width: 520px){
  /*Intro*/
  .textButton{
    font-size: 12px;
  }
  
  
  .image-container {
    @apply flex justify-end items-end w-full xl:h-screen;
  }
  
  .image {
    @apply relative xl:w-full w-[95%] xl:h-full h-[200px] z-0;
  }
  
  .image-overlay {
    @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[500px] overflow-hidden;
  }

  .catalog{
    @apply font-semibold text-[16px];
  }
    
  .green{
    font-size: 15px; 
  }

  .intro {
    @apply flex xl:flex-row flex-col relative z-0 max-w-[1440px] mx-auto;
  }

  .title {
    @apply 2xl:text-[60px] sm:text-[50px] text-[35px] font-extrabold;
  }


  /*Sign In*/
  .yellowContainer{
    @apply w-96;
  }
  
  .logoContainer{
    @apply w-full px-10  bg-[#ffeba9] rounded-2xl     
  }

  .logoSignIn{
    @apply pt-10 w-24 h-24 mx-auto;
  }

  .titleSignIn{
    @apply text-[25px];
  }

  .input{
    @apply w-full ;
  }

  .prSignIn{
    @apply text-[12px];
  }

  .divYellowContainer{
    @apply py-9 px-2;
  }

  .pinkLine{
    @apply min-w-[120px];
  }

  .googleLogo{
    @apply w-6 h-6;
  }


  /*Sign Up*/
    .divSignUp{
      @apply block w-full max-w-80;
    }

    .main{
      @apply flex-row;
    }

    .cuidaTuMenteTitle{
      font-size: 28px;
    }

    .cuidaTuMente{
      width: 400px;
      height: 300px;
    }

    .container{
      @apply w-full px-1 bg-[#FFEBA9] rounded-2xl; 
    }

    .form{
      font-size: 15px;
    }
  
    .prSignUp{
      @apply text-[12px];
    }
  
  
  /*Admin*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

      /*Home page*/
  .contenedor2{
    flex-wrap: wrap;
  } 
        
}


  @media (min-width: 380px) and (max-width: 780px){
  /*Admin*/
    .navBarApp{
      flex: 1;
      min-width: 300px;
    }

      /*Home page*/
  .contenedor2{
    flex-wrap: wrap;
  }

    /*User*/
    .formUser{
      @apply py-[58px] px-[25px] h-[1932px] flex-1
    }
    
    .edad{
      @apply pl-0
    }
    
    .radio{
      @apply flex items-center /*flex flex-col*/
    }
  
  

}

@media (max-width: 738px){
  .containerUser {
    display: flex;
    flex-direction: column;
}

    .section-1, .section-2 {
        width: 100%;
    }

  
}

@media (min-width: 642px) and (max-width: 780px){
  /*User*/
  .formUser{
    @apply py-[58px] px-[40px] h-[1932px] flex-1
  }
  
  .edad{
    @apply pl-1
  }
}

  @media (min-width: 780px) and (max-width: 858px){
/*User*/  
    .formUser{
      @apply py-[58px] px-[40px] h-[1932px] flex-1
    }
        
    .textInput{
      @apply w-6 h-6 outline-none text-base
    }
    
    .edad{
      @apply pl-5
    }
    
    .radio{
      @apply flex items-center /*flex flex-col*/
    }

    .inputBox{
      @apply outline-none text-base pl-2 border-gray-300 rounded-lg py-2 px-4
    }
    
    .formUserTitle{
      @apply font-bold text-[44px]
    }
    
    .formUserForm{
      @apply items-start px-[50px] py-[10px]
    }
    
    .formUserSubtitle{
      @apply text-[#5c5a5a] text-[30px] font-semibold
    }
    
    .formUserText{
      @apply text-[20px] text-black font-medium mb-2
    }
    
    .formUserWarning{
      @apply text-[15px] text-red-500 italic
    }
}

@media (min-width: 870px) and (max-width: 1050px){
  /*Admin*/
  .adminDiv{
    margin-left: 30%;
  }

  
.image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.image {
  @apply relative xl:w-full w-[95%] xl:h-full h-[500px] z-0;
}

.image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[600px] overflow-hidden;
}

}

@media  (min-width: 1007px){
  /*Admin*/
  .adminDiv{
    margin-left: 20%;
  }

  .formTera{
    @apply pl-20
  }

}

@media (min-width: 780px) and (max-width: 870px){
  /*Admin*/
  .adminDiv{
    margin-left: 30%;
  }

  .tableDivTera{
    width: 100%;
  }

  .tableTera{
    width: 98%;
  }  

  .textUserTitleTera{
    @apply text-sm
  }
  
  .textUserTera{
    @apply py-1.5 text-xs
  }



}

@media (min-width: 590px) and (max-width: 639px){
  /*Admin*/
  .adminDiv{
    margin-left: 2%;
    margin-top: 15%;
  }

  .tableDivTera{
    width: 100%;
  }

  .tableTera{
    width: 98%;
  }  

  .textUserTitleTera{
    @apply text-sm
  }
  
  .textUserTera{
    @apply py-1.5 text-xs
  }
}

@media (min-width: 470px) and (max-width: 590px){
  /*Admin*/
  .adminDiv{
    margin-left: 2%;
    margin-top: 20%;
  }

  
  .tableDiv{
    width: 95%;
  }

  .table{
    width: 95%;
  }  

  .textUserTitle{
    @apply text-sm
  }
  
  .textUser{
    @apply py-1.5 text-xs
  }

  .tableDivTera{
    width: 100%;
  }

  .tableTera{
    width: 95%;
  }  

  .textUserTitleTera{
    @apply text-sm
  }
  
  .textUserTera{
    @apply py-1.5 text-[10px]
  }

  .formTera{
    @apply pl-10
  }

  .labelForm{
    @apply text-sm min-w-[110px]  pr-0
  }
  
  .inputForm{
    @apply text-base w-64
  }
  

}

@media (min-width: 375px) and (max-width: 470px){
  /*Admin*/
  .adminDiv{
    margin-left: 2%;
    margin-top: 25%;
  }

  
  .tableDiv{
    width: 95%;
  }

  .table{
    width: 98%;
  }  

  .textUserTitle{
    @apply text-sm
  }
  
  .textUser{
    @apply py-1.5 text-xs
  }

  .tableDivTera{
    width: 100%;
  }

  .tableTera{
    width: 100%;
  }  

  .textUserTitleTera{
    @apply text-sm
  }
  
  .textUserTera{
    @apply py-1.5 text-[8px]
  }

  .formTera{
    @apply pl-5 
  }

  .labelForm{
    @apply text-sm min-w-[110px]  pr-0 pt-2
  }
  
  .inputForm{
    @apply text-sm w-52
  }
  

}

@media (max-width: 375px){
  /*Admin*/
  .adminDiv{
    margin-left: 2%;
    margin-top: 30%;
  }

  
  .tableDiv{
    width: 95%;
  }

  .table{
    width: 95%;
  }  

  .textUserTitle{
    @apply text-sm
  }
  
  .textUser{
    @apply py-1.5 text-xs
  }

  .tableDiv{
    width: 95%;
  }

  .tableTera{
    width: 95%;
  }  

  .textUserTitleTera{
    @apply text-sm
  }
  
  .textUserTera{
    @apply py-1.5 text-[10px]
  }

  .formTera{
    @apply pl-0
  }

  .labelForm{
    @apply text-sm min-w-[100px] pr-0
  }
  
  .inputForm{
    @apply text-sm w-36
  }
}


@media (min-width: 640px) and (max-width: 720px){
  /*Admin*/
  .adminDiv{
    margin-left: 35%;
  }

  
  .tableDiv{
    width: 90%;
  }

  .table{
    width: 95%;
  }  

  .textUserTitle{
    @apply text-sm
  }
  
  .textUser{
    @apply py-1.5 text-xs
  }

  .tableDivTera{
    width: 100%;
  }

  .tableTera{
    width: 95%;
  }  

  .textUserTitleTera{
    @apply text-sm
  }
  
  .textUserTera{
    @apply py-1.5 text-[10px]
  }

  .formTera{
    @apply pl-2
  }

  .labelForm{
    @apply text-sm min-w-[110px] pr-0
  }
  
  .inputForm{
    @apply text-sm w-64
  }
  
}

@media (min-width: 720px) and (max-width: 780px){
  /*Admin*/
  .adminDiv{
    margin-left: 30%;
    margin-top: 0;
  }

  .tableDiv{
    width: 90%;
  }

  .table{
    width: 98%;
  }  

  .textUserTitle{
    @apply text-sm
  }
  
  .textUser{
    @apply py-1.5 text-xs
  }
  
  .tableDivTera{
    width: 95%;
  }

  .tableTera{
    width: 98%;
  }  

  .textUserTitleTera{
    @apply text-sm
  }
  
  .textUserTera{
    @apply py-1.5 text-[12px]
  }
}

@media (max-width: 639px){
/*Admin*/
.headerAdmin{
  @apply w-full h-24 absolute z-10 bg-amber-100 flex-row 
}

.navAdmin{
@apply h-screen w-full flex-row 
}

.divAdmin{
  @apply flex
}

.divOptionsAdmin{
  @apply flex
}

.ulAdmin{
  @apply hidden sm:flex flex-col gap-10 items-center
}

}